.hanken-grotesk {
    font-family: "Hanken Grotesk", sans-serif;
}

.shippori-antique {
    font-family: "Shippori Antique", sans-serif;
}

.sawarabi-gothic {
    font-family: "Sawarabi Gothic", sans-serif;
}


body {
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    max-width: 1920px;
}


html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}


* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

.navbar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    background-color: white;
    border-bottom: 2px solid #AA1E14;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    padding: 30px 100px;
    width: 100%;
    max-width: 1920px;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.menu-icon {
    height: 80px;
    width: 80px;
}

.menu-text {
    font-size: 24px;
}

.menu-text img {
    height: 44px;
    width: 60px;
}

.hamburgur-menu {
    cursor: pointer;
}

.hamburgur-menu img {
    max-width: 60px;
}

.hamburgur-menu p {
    font-size: 24px;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#loader-wrapper img {
    width: 50%;
    max-width: 378px;
}

.content {
    margin: 80px 80px 0px;
}

.content section {
    width: 100%;
    position: relative;
}

#homepage-section {
    height: calc(100vh - 100px);
}


.absolute-top-left {
    position: absolute;
    top: 0;
    left: 80px;
}

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 80px;
}

.absolute-bottom-right {
    position: absolute;
    bottom: 0;
    right: 80px;
}

.absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.spinning-logo {
    max-width: 100%;
}

.content .content-title {
    max-width: 225px;
}

.spinning {
    animation: spin 30s linear infinite;
}

.py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-direction-column {
    flex-direction: column;
}

.h-100 {
    height: 100%;
}


.bolder {
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

.color-primary {
    color: #AA1E14
}

.font-3rem {
    font-size: 3rem;
    font-weight: 100;
}

.floating-logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.scroll-logo {
    position: absolute;
    bottom: 0;
    left: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-logo-mobile {
    position: absolute;
    bottom: 0;
    left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.home-description .desktop {
    width: 590px;
    display: block;
    margin-bottom: 20px;
}

.home-description .mobile {
    width: 212px;
    display: none;
    margin-bottom: 15px;
}

.floating-logo-mobile {
    display: none;
}


.vertical-text-container {
    position: fixed;
    top: 100vh;
    left: 100px;
    width: 100px;
    /* Adjust the width as needed */
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
}

.vertical-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation: scrollVertical 10s linear infinite; */
}

.vertical-text p {
    writing-mode: vertical-rl;
    margin: 0;
    padding: 20px 0;
    /* Adjust padding as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    min-width: 400px;
}

table tr,
table td {
    border: 2px solid white;
    text-align: left;
    padding: 25px;
}

table tr {
    background-color: #F2F2F2;
}

table tr.highlight {
    background-color: #000;
    color: #fff;
}

table tr.highlight td {
    text-align: center;
}

.custom-button {
    margin-top: 100px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    color: #AA1E14;
    border: 2px solid #AA1E14;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button .icon {
    width: 20px;
    transition: all 0.3s, color 0.3s;
    position: absolute;
    right: 24px;
}

.custom-button:hover {
    background-color: #AA1E14;
    color: white;
}

.custom-button .icon * {
    stroke: #AA1E14;
}


.custom-button:hover .icon * {
    stroke: white;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.popup {
    overflow: scroll;
    overscroll-behavior: contain;
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent background */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Smooth transition */
}

.popup.show {
    display: flex;
    opacity: 1;
}

.popup-content {
    padding: 20px;
    width: 80%;
    display: flex;
    gap: 120px;
}

.menuPopup {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #AA1E14;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Smooth transition */
}

.menuPopup.show {
    display: flex;
    opacity: 1;
}

.menuPopup-content {
    padding: 100px;
    width: 100%;
    display: flex;
    position: relative;
}

.logo-with-text-white,
.menu-label-white,
.menu-label-white-2 {
    position: absolute;
}

.menu-label-white-2 {
    left: 100;
    bottom: 40px;
    width: 588px;
}

.menu-label-white-2-mobile {
    display: none;
}

.menu-label-white {
    bottom: 300px;
}

.menu-list-container {
    width: 1000px;
    position: absolute;
    bottom: 0;
    right: 200px;
    padding-bottom: 200px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
}

.menu-item {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-item p {
    transition: color 0.3s ease;
}

.menu-item:hover p {
    color: #000;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50%;
    width: 100%;
    height: 2px;
    background-color: white;
}

.menu-item-title p:nth-child(1) {
    font-size: 34px;
}

.menu-item-title p:nth-child(2) {
    font-size: 24px;
}

.menu-item-img {
    height: 80%;
}

.menu-item-img img {
    height: 100%;
}

.menu-link {
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-link p {
    transition: color 0.3s ease;
}

.menu-link:hover p {
    color: #000;
}

.menu-link svg {
    width: 25px;
    margin-left: 8px;
}

.close-btn {
    position: absolute;
    top: 80px;
    right: 80px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-align: center;
}

#step-out-section {
    padding: 120px 160px 0px 280px;
}

.step-out-title {
    font-size: 84px;
    text-align: center;
    transform: rotate(-5deg);
    margin-bottom: 80px;
    font-weight: 500;
    font-weight: bolder;
}

.step-out-description {
    justify-content: end;
}

.open-bracket,
.close-bracket {
    height: 308px;
}

.quote {
    width: 385px;
}

.step-out-content {
    gap: 160px;
    align-items: center;
}

.step-out-border {
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 240px;
}

#new-section,
#requirement-section,
#goal-section,
#advisor-section,
#faq-section,
#video-section,
#organization-member-section {
    padding: 120px 160px 0px 280px;
}

.new-section-container,
.goal-section-container,
.requirement-section-container,
.advior-section-container,
.faq-section-container,
.footer-container {
    display: flex;
    justify-content: space-between;
}

.new-section-header p:nth-child(1),
.goal-section-header p:nth-child(1),
.requirement-section-header p:nth-child(1),
.advisor-section-header p:nth-child(1),
.faq-section-header p:nth-child(1) {
    font-size: 36px;
}

.new-section-header p:nth-child(2),
.goal-section-header p:nth-child(2),
.requirement-section-header p:nth-child(2),
.advisor-section-header p:nth-child(2),
.faq-section-header p:nth-child(2) {
    font-size: 26px;
}

.video-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.video-section-header p:nth-child(1) {
    font-size: 20px;
}

.video-section-header p:nth-child(1) {
    font-size: 14px;
}

.news-content-list,
.goal-list,
.requirement-list {
    max-width: 850px;
    font-size: 20px;
    line-height: 40px;
}

/*.goal-list {
    padding-left: 120px;
}*/

.new-section-header {
    width: 457px;
}

.news-content {
    gap: 24px
}

.news-border {
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 120px;
}

.goal-label {
    position: absolute;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: -550px;
    align-items: center;
    background-color: white;
}

.goal-label img:nth-child(2) {
    width: 216px;
}

.goal-label img:nth-child(1),
.goal-label img:nth-child(3) {
    width: 320px;
}

.goal-border {
    flex: 1;
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 120px;
}

.requirement-section-header {
    width: 457px;
}

.requirement-item {
    margin-bottom: 80px;
}

.requirement-section-border {
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 120px;
}

.advisor-section-header {
    width: 457px;
}

.advisor-list {
    flex: 1;
    max-width: 850px;
    font-size: 20px;
}

.advisor-item {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.advisor-item p.hanken-grotesk {
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 70px;
}

.advisor-item p#openPopupBtn,
.advisor-item p#openPopupBtn2,
.advisor-item p#openPopupBtn3,
.advisor-item p#openPopupBtn4 {
    margin-top: 65px;
    color: #727171;
}

.advisor-list hr {
    border: none;
    height: 1px;
    background-color: #B4B4B4;
    margin-top: 40px;
    margin-bottom: 40px;
}

.advior-section-border {
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 120px;
}

.faq-section-header {
    width: 457px;
}

.faq-list {
    flex: 1;
    max-width: 850px;
    font-size: 20px;
}

.faq-item {
    display: flex;
    gap: 20px;
}

.faq-item {
    display: flex;
    gap: 20px;
}

.faq-item.odd {
    margin-bottom: 65px;
}

.faq-item :nth-child(1) {
    padding-top: 2px;
}

.faq-list hr {
    border: none;
    height: 1px;
    background-color: #B4B4B4;
    margin-top: 40px;
    margin-bottom: 40px;
}

.faq-section-border {
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 120px;
}

.organization-member-container {
    width: 100%;
    background-color: #F2F2F2;
    padding: 100px 60px 0px
}

.organization-member-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.organization-member-container h2 {
    text-align: center;
}

.organization-member-header-border {
    border: none;
    height: 1px;
    background-color: #B4B4B4;
    margin-top: 100px;
}

.organization-member-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.organization-member-item {
    width: 50%;
}

.organization-member-item-title {
    align-items: center;
    justify-content: space-between;
}

.organization-member-item-title-primary {
    gap: 20px;
    align-items: center;
}

.organization-member-item-title-primary p:nth-child(1) {
    font-size: 20px;
}

.organization-member-item-title-primary p:nth-child(2) {
    font-size: 18px;
}

.organization-member-item-title-secondary,
.organization-member-item-description {
    font-size: 20px;
}

.organization-member-item-image {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 131px;
    align-items: center;
}

.ambassadar-container {
    display: flex;
    background-color: white;
    padding: 120px 160px;
    justify-content: space-between;
    /*    gap: 120px;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

.supporter-container {
    display: flex;
    background-color: white;
    padding: 100px 117px;
    justify-content: space-between;
    gap: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.supporter-title-secondary {
    justify-content: space-between;
    align-items: baseline;
}

.supporter-title-primary p:nth-child(1) {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: "Shippori Antique", sans-serif;
    line-height: 49px;
}

.supporter-title-secondary p:nth-child(1) {
    font-size: 24px;
}

.supporter-title-primary p:nth-child(2),
.supporter-title-secondary p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 25px;
}

.supporter-description {
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px;
}

.supporter-img-mobile {
    display: none;
}

.supporter-img-desktop {
    display: block;
}

.public-relation-support-container {
    display: flex;
    gap: 120px;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.public-relation-support-bottom-container {
    display: flex;
    /*    gap: 120px;*/
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.public-relation-support-primary-title,
.public-relation-support-secondary-title {
    width: 30%;
}

.public-relation-support-description {
    width: 40%;
    font-size: 14px;
}

.public-relation-support-primary-title p:nth-child(1),
.public-relation-support-secondary-title p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 25px;
}

.public-relation-support-primary-title p:nth-child(2),
.public-relation-support-secondary-title p:nth-child(2) {
    font-size: 18px;
}

.public-relation-support-item {
    width: 30%;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.public-relation-support-item-title p:nth-child(1),
.public-relation-support-item-description {
    font-size: 14px;
    margin-bottom: 30px;
}

.public-relation-support-item-title p:nth-child(2) {
    font-size: 20px;
}

.public-relation-support-item-divider {
    width: 1px;
    background-color: #B4B4B4;
}

.organization-member-section-border {
    border: none;
    height: 2px;
    background-color: #AA1E14;
    margin-top: 120px;
}

#footer {
    padding: 90px 200px 80px 320px;
}

img.footer-img {
    width: 200px;
}

.footer-list-item {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-item {
    width: 50%;
    cursor: pointer;
}

.footer-item p {
    transition: color 0.3s ease
}

.footer-item:hover p {
    color: black;
}

.footer-item p:nth-child(1) {
    font-size: 20px;
}

.footer-item p:nth-child(2) {
    font-size: 14px;
}

.footer-wrapper {
    flex-direction: column;
    gap: 120px;
}

.footer-desktop {
    display: flex;
}

.footer-mobile {
    display: none;
}

.go-to-top {
    position: fixed;
    width: 70px;
    bottom: 70px;
    right: calc((100vw - 1920px + 160px)/2);
    visibility: hidden;
    /* Start hidden */
    opacity: 0;
    /* Start with 0 opacity */
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    /* Add transition for opacity and visibility */
}

.go-to-top.show {
    visibility: visible;
    /* Show the button */
    opacity: 1;
    /* Change opacity to 1 */
}

.black-hover-link p{
    transition: color 0.3s ease;
}
.black-hover-link:hover p {
    color: #000 !important;
}

/* @keyframes scrollVertical {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
} */
@media screen and (max-width: 431px) {
    #loader-wrapper img {
        max-width: 152px;
    }

    .content {
        margin: 25px 25px 0;
    }

    #homepage-section {
        height: calc(100vh - 25px);
    }

    .content .content-title {
        max-width: 80px;
    }

    .hamburgur-menu img {
        max-width: 35px;
    }

    .hamburgur-menu p {
        font-size: 14px;
    }

    .floating-logo {
        display: none;
    }

    .scroll-logo {
        display: none;
    }

    .scroll-logo-mobile {
        display: block;
    }

    .home-description .desktop {
        display: none;
    }

    .home-description .mobile {
        display: block;
    }

    .floating-logo-mobile {
        display: block;
        position: absolute;
        right: 0;
        bottom: 92px;
        width: 16px;
    }

    .floating-logo-mobile img {
        width: 100%;
    }

    #step-out-section {
        padding: 70px 0 0 0;
    }

    .step-out-title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .step-out-description {
        justify-content: start;
        flex-direction: column;
        margin-left: 35px;
    }

    .step-out-description p {
        font-size: 20px;
    }

    .open-bracket,
    .close-bracket {
        height: 100px;
    }

    .quote {
        width: 158px;
    }

    .step-out-content {
        gap: 40px;
    }

    .step-out-border {
        margin-top: 70px;
        margin-left: 35px;
    }

    #new-section,
    #requirement-section {
        padding: 40px 0 0 35px;
    }

    .new-section-container,
    .goal-section-container,
    .requirement-section-container,
    .advior-section-container,
    .faq-section-container,
    .footer-container {
        flex-direction: column;
        padding: 0px 0px 0px 25px;
    }

    .new-section-header,
    .goal-section-header,
    .requirement-section-header,
    .advisor-section-header,
    .faq-section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    .new-section-header p:nth-child(1),
    .goal-section-header p:nth-child(1),
    .requirement-section-header p:nth-child(1),
    .advisor-section-header p:nth-child(1),
    .faq-section-header p:nth-child(1) {
        font-size: 14px;
    }

    .new-section-header p:nth-child(2),
    .goal-section-header p:nth-child(2),
    .requirement-section-header p:nth-child(2),
    .advisor-section-header p:nth-child(2),
    .faq-section-header p:nth-child(2) {
        font-size: 10px;
    }

    .video-section-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        align-items: flex-start
    }

    .video-section-header p:nth-child(1) {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 4px;
    }

    .video-section-header p:nth-child(2) {
        font-size: 10px;
        border-bottom: 1px solid #AA1E14;
        line-height: 14px;
    }


    .news-content-list {
        font-size: 10px;
    }

    .news-content-time {
        margin-top: 2px;
    }

    .news-border {
        margin-top: 45px;
    }

    #goal-section,
    #advisor-section,
    #faq-section,
    #video-section,
    #organization-member-section {
        padding: 40px 0px 0px 35px;
    }

    .goal-list {
        padding-left: 0px;
    }

    .goal-list p {
        font-size: 10px;
    }

    .goal-container {
        position: relative;
    }

    .goal-border {
        margin-top: 300px;
    }

    .goal-label {
        width: 150px;
        position: absolute;
        gap: 30px;
        margin-top: -260px;
        right: 25px;
    }

    .goal-label img:nth-child(2) {
        width: 95px;
    }

    .goal-label img:nth-child(1),
    .goal-label img:nth-child(3) {
        width: 150px;
    }

    .goal-label img:nth-child(3) {
        background-color: white;
    }

    .requirement-list {
        font-size: 10px;
    }

    .requirement-item {
        margin-bottom: 25px;
    }

    .requirement-list table {
        margin-top: 10px;
        font-size: 10px;
        min-width: 100%
    }

    .requirement-list table td {
        padding: 30px 25px;
    }

    .highlight td {
        padding: 12px 62px;
    }

    .requirement-section-border {
        background-color: #AA1E14;
        margin-top: 30px;
    }

    .advisor-item p {
        font-size: 10px;
    }

    .advisor-item img {
        width: 50%;
    }

    .advisor-list hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .advior-section-border {
        margin-top: 50px;
    }

    .faq-list {
        font-size: 10px;
    }

    .faq-item :nth-child(1) {
        padding-top: 1px;
    }

    .faq-list hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .faq-item.odd {
        margin-bottom: 25px;
    }

    .custom-button {
        margin-top: 50px;
        font-size: 10px;
        padding: 14px;
        border: 1px solid #AA1E14;
    }

    .custom-button .icon {
        width: 14px;
        right: 14px;
    }

    .faq-section-border {
        margin-top: 50px;
    }

    .organization-member-container {
        padding: 60px 25px 0px
    }

    .organization-member-container h1 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .organization-member-container h2 {
        font-size: 10px;
    }

    .organization-member-header-border {
        margin-top: 35px;
    }

    .organization-member-list {
        gap: 25px;
        flex-direction: column;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .organization-member-item {
        width: 100%;
    }

    .organization-member-item-title {
        align-items: center;
        justify-content: space-between;
    }

    .organization-member-item-title {
        align-items: start;
        flex-direction: column;
    }

    .organization-member-item-title-primary {
        justify-content: space-between;
        width: 100%;
    }

    .organization-member-item-title-primary p:nth-child(1) {
        font-size: 10px;
    }

    .organization-member-item-title-primary p:nth-child(2) {
        font-size: 10px;
    }

    .organization-member-item-title-secondary,
    .organization-member-item-description {
        font-size: 10px;
    }

    .organization-member-item-image {
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 60px;
        align-items: center;
    }

    .organization-member-item-image {
        min-height: 60px;
    }

    .organization-member-item-image img {
        max-height: 60px;
        max-width: 100%;
    }

    .supporter-container {
        flex-direction: column;
        padding: 45px 25px;
        gap: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .supporter-title-primary p:nth-child(1),
    .supporter-title-secondary p:nth-child(1),
    .supporter-title-primary p:nth-child(2),
    .supporter-title-secondary p:nth-child(2) {
        font-size: 10px;
        color: #AA1E14;
    }

    .supporter-title-secondary {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
    }

    .supporter-img-mobile {
        display: block;
        margin: 25px auto;
        width: 100%;
        max-width: 130px
    }

    .supporter-img-desktop {
        display: none;
    }

    .supporter-description {
        font-size: 10px;
    }

    .public-relation-support-container {
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
        padding: 40px 0px
    }

    .public-relation-support-primary-title {
        display: flex;
        justify-content: space-between;
    }

    .public-relation-support-primary-title,
    .public-relation-support-secondary-title {
        width: 100%;
    }

    .public-relation-support-description {
        width: 100%;
        font-size: 10px;
    }

    .public-relation-support-primary-title p:nth-child(1),
    .public-relation-support-secondary-title p:nth-child(1) {
        font-size: 10px;
    }

    .public-relation-support-primary-title p:nth-child(2),
    .public-relation-support-secondary-title p:nth-child(2) {
        font-size: 10px;
    }

    .public-relation-support-item {
        width: 100%;
        gap: 25px;
    }

    .public-relation-support-item-title p:nth-child(1),
    .public-relation-support-item-title p:nth-child(2),
    .public-relation-support-item-description {
        font-size: 10px;
    }

    .public-relation-support-item-divider {
        width: 100%;
        height: 1px;
    }

    .organization-member-section-border {
        margin-top: 45px;
    }

    hr {
        height: 1px !important;
    }

    #footer {
        padding: 25px 0px 25px 35px;
    }

    .footer-img {
        max-width: 124px;
        margin: 25px auto 0px;
    }

    .footer-list-item {
        width: 100%;
        flex-wrap: wrap;
        padding: 50px 0 20px 0;
        gap: 0px;
        justify-content: space-between;
    }

    .footer-item {
        width: 45%;
        margin-bottom: 25px;
    }

    .footer-item p:nth-child(1),
    .footer-item p:nth-child(2) {
        font-size: 10px;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 0px;
    }

    .footer-desktop {
        display: none;
    }

    .footer-mobile {
        display: block;
    }

    .navbar {
        border-bottom: 1px solid #AA1E14;
    }

    .navbar-container {
        padding: 10px 25px;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
    }

    .menu-icon {
        height: 40px;
        width: 40px;
    }

    .menu-text {
        font-size: 14px;
    }

    .menu-text img {
        width: 35px;
        height: 26px;
    }

    .logo-with-text-white {
        width: 74px;
    }

    .menuPopup-content {
        padding: 25px;

    }

    .close-btn {
        top: 25px;
        right: 25px;
        font-size: 10px;
    }

    .menu-list-container {
        width: 210px;
        bottom: 0;
        right: 25px;
        padding-bottom: 35px;
    }

    .menu-list {
        gap: 25px
    }


    .menu-item {
        width: 100%;
    }

    .menu-item::after {
        height: 1px;
        bottom: -12.5px;
    }

    .menu-item-title p:nth-child(1) {
        font-size: 18px;
    }

    .menu-item-title p:nth-child(2) {
        font-size: 10px;
    }

    .menu-link {
        margin-top: 25px;
        font-size: 10px;
        justify-content: left;
    }

    .menu-link svg {
        width: 16px;
    }

    .menu-label-white-2 {
        display: none;
    }

    .menu-label-white {
        width: 16px;
        bottom: 70px;
    }

    .menu-label-white-2-mobile {
        width: 210px;
        position: absolute;
        display: block;
        bottom: 12.5px;
        right: 25px;
    }

    .popup-content {
        padding: 140px 25px 70px 25px;
        width: 100%;
        gap: 0px;
    }

    .popup.show {
        display: block !important;
    }

    .popup-content {
        flex-direction: column-reverse;
        font-size: 10px;
    }

    .popup-title-primary {
        margin-bottom: 35px;
    }

    .popup-title-secondary {
        display: flex;
        margin-bottom: 70px;
    }

    .popup-description {
        margin-bottom: 70px;
    }

    .go-to-top {
        width: 25px;
        bottom: 540px;
        right: 0;
    }


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}